.login_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form_container {
	width: 100%;
	height: 100vh;
	display: flex;	
	
}

.left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 20px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;	
}

.right h1 {
	margin-top: 100px;
	color: rgb(3, 3, 3);
	font-size: 30px;
	align-self: self-start;
}

.right h2 {
	margin-top: 20px;
	font-weight: bold;
	color: #3bb19b;
	font-size: 50px;
	align-self: self-start;
}

.right h3 {
	font-size: 16px;
    color: #000000;
    margin-bottom: 5px;	
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 10px;
	width: 370px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #3bb19b;
	color: white;
	margin: 1px;
	margin-top: 20px;
	align-self: self-start;
}

.copyright {
    font-size: 14px;
    color: #555;
    margin-top: 160px;
}

.link_msg {
	margin-top: 10px;	
}

